<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-8 navbar-text"> Copyright © 2023 Alessandra Primatesta #301.297.110 (COMP 229 - Web Application Development - Summer 2023)</h6>
    </nav>
  </footer>