<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<!--Main content-->
<main class="container">
    <div class="maintitle">
      <h1 class="display-4"> <%= title %> </h1>
    </div>
    
    <hr>
  </main>